*.egg-info
*.orig
*.pyc
*.swp
*~
.cache/
.coverage
.idea
.mypy_cache/
.noseids
.pytest_cache/
.tox
MANIFEST
build/
cover/
coverage.xml
dist/
docs/.doctrees/
docs/_build/
mopidy.log*
nosetests.xml
tmp/
xunit-*.xml
