Thomas Adamcik <thomas@adamcik.no> <adamcik@samfundet.no>
Thomas Adamcik <thomas@adamcik.no> <thomas+github@adamcik.no>
Thomas Adamcik <thomas@adamcik.no> Thomas Adacmik <thomas@adamcik.no>
Kristian Klette <klette@samfundet.no>
Johannes Knutsen <johannes@knutseninfo.no> <johannes@iterate.no>
Johannes Knutsen <johannes@knutseninfo.no> <johannes@barbarmaclin.(none)>
John Bäckstrand <sopues@gmail.com> <sandos@XBMCLive.(none)>
David Caruso <deibido.caruso@gmail.com> <dav@dav.com>
Adam Rigg <adam@adamrigg.id.au> <radx@live.com.au>
Ernst Bammer <herr.ernst@gmail.com>
Alli Witheford <alzeih@gmail.com>
Alexandre Petitjean <alpetitjean@gmail.com>
Alexandre Petitjean <alpetitjean@gmail.com> <alexandre.petitjean@lne.fr>
Javier Domingo Cansino <javierdo1@gmail.com> <javier.domingo@fon.com>
Lasse Bigum <lasse@bigum.org> <l.bigum@samsung.com>
Nick Steel <nsteel@fastmail.com> <kingosticks@gmail.com>
Nick Steel <nsteel@fastmail.com> <nickasteel@gmail.com>
Nick Steel <nsteel@fastmail.com> <nick.steel@nokia.com>
Janez Troha <janez.troha@gmail.com> <dz0ny@users.noreply.github.com>
Janez Troha <janez.troha@gmail.com> <dz0ny@ubuntu.si>
Luke Giuliani <luke@giuliani.com.au>
Colin Montgomerie <kiteflyingmonkey@gmail.com>
Nathan Harper <nathan.sam.harper@gmail.com>
Ignasi Fosch <natx@y10k.ws> <ifosch@serenity-2.local>
Christopher Schirner <christopher@hackerspace-bamberg.de> <schinken@hackerspace-bamberg.de>
Laura Barber <laura.c.barber@gmail.com> <artzii.laura@gmail.com>
John Cass <john.cass77@gmail.com>
Ronald Zielaznicki <zielaznickizm@g.cofc.edu> <zielaznickiz@g.cofc.edu>
Kyle Heyne <kyleheyne@gmail.com>
Tom Roth <rawdlite@googlemail.com>
Eric Jahn <ejahn@newstore.com>
Loïck Bonniot <git@lesterpig.com>
Jens Lütjen <dublok@users.noreply.github.com>
Jens Lütjen <dublok@users.noreply.github.com> <dublok@users.noreplay.github.com>
Daniel T <thomas_d_j@yahoo.com.au>
Ismael Asensio <ismailof@github.com>
Brendan Jones <btjones711@gmail.com> <Btjones711@gmail.com>
Marvin Preuss <marvin@xsteadfastx.org>
Bernhard Gehl <bernhard.gehl@gmail.com>
Caysho <caysho@internode.on.net> <mopidy-dev@mopidy-dev.mopidy-dev>
Nick Aquina <nickaquina@gmail.com> <fantostisch@users.noreply.github.com>
Jarryd Tilbrook <jrad.tilbrook@gmail.com>
Matthieu Melquiond <matt.llvw@gmail.com>
Geoffroy Youri Berret <kaliko@azylum.org>
