# Automate tasks
invoke

# Build documentation
sphinx

# Check code style, errors, etc
flake8
flake8-import-order

# Mock dependencies in tests
mock
responses

# Test runners
pytest
pytest-capturelog
pytest-cov
pytest-xdist
tox

# Check that MANIFEST.in matches Git repo contents before making a release
check-manifest

# To make wheel packages
wheel

# Securely upload packages to PyPI
twine
