include LICENSE pylintrc *.rst data/mopidy.desktop
include mopidy/backends/spotify/spotify_appkey.key
recursive-include docs *
prune docs/_build
recursive-include requirements *
recursive-include tests *.py
recursive-include tests/data *
