include *.rst
include LICENSE
include MANIFEST.in
include data/mopidy.desktop

recursive-include docs *
prune docs/_build

recursive-include mopidy *.conf
recursive-include mopidy/frontends/http/data *
recursive-include requirements *
recursive-include tests *.py
recursive-include tests/data *
