Source: mopidy
Section: sound
Priority: optional
Maintainer: Stein Magnus Jodal <stein.magnus@jodal.no>
Build-Depends: debhelper (>= 7.0.50~), python-support, python (>= 2.6),
 python-sphinx (>= 1.0), python-pygraphviz
Standards-Version: 3.9.1
Homepage: http://www.mopidy.com/
Vcs-Git: git://github.com/jodal/mopidy.git
Vcs-Browser: http://github.com/jodal/mopidy

Package: mopidy
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gst0.10
Recommends: gstreamer0.10-plugins-good, gstreamer0.10-plugins-ugly
Suggests: python-alsaaudio (>= 0.2), python-serial
Description: music server with MPD client support
 Mopidy is a music server which can play music from Spotify or from your
 local hard drive. To search for music in Spotify’s vast archive, manage
 playlists, and play music, you can use most MPD clients. MPD clients are
 available for most platforms, including Windows, Mac OS X, Linux, and
 iPhone and Android phones.
