#!/bin/sh
# config script for mopidy

set -e

. /usr/share/debconf/confmodule

# If installing on a system where the package has previously been configured,
# check if the init script is active and set the debconf default accordingly.
if [ "$2" != "" ]; then
    if update-rc.d -n -f mopidy remove 2>&1 | grep -q -e rc.\.d/S..mopidy; then
        db_set mopidy/daemon true
    else
        db_set mopidy/daemon false
    fi
fi

db_input medium mopidy/daemon || true
db_go || true

exit 0
